<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="container col-lg-4">
    <!-- This div, with the ID "app", is where the application appears when it runs. -->
    <div id="app"></div>

    <!-- This unusual tag is a script text/template. It does not actually appear on the page as HTML. However, Vue can reference this HTML by ID and use it essentially as a template string. -->
    <script type="text/x-template" id="app-template">
        <section>
            <div>
                <h3 class="mt-1">Coach Support Confirmation</h3>
            </div>
            <div class="newEntryDD">
                <button class="apiInput" @click="G3t()">Get Selected Event Details</button>
                <br>
                <table width=100%>
                    <tr>
                        <td width=40%>Requested Coach</td>
                        <td width=20%></td>
                        <td width=40%>{{req.callsign}}</td>
                    </tr>
                    <tr>
                        <td width=40%>Start Date</td>
                        <td width=20%></td>
                        <td width=40%>{{req.date1}}</td>
                    </tr>
                    <tr>
                        <td width=40%>End Date</td>
                        <td width=20%></td>
                        <td width=40%>{{req.date2}}</td>
                    </tr>
                    <tr>
                        <td width=40%>Requested by</td>
                        <td width=20%></td>
                        <td width=40%>{{req.calColor}}</td>
                    </tr>
                    <tr>
                        <td width=40%>Comment</td>
                        <td width=20%></td>
                        <td width=40%><input v-model="req.Comment"></td>
                    </tr>
                    <tr>
                        <td width=40%>Status</td>
                        <td width=20%></td>
                        <td width=40%>
                            <select v-model="req.allStatus.selected">
                                    <option v-for="status in req.allStatus" v-bind:value="status">
                                        {{ status}}
                                    </option>
                                </select>
                        </td>
                    </tr>
                </table>

                <br>
                </form>
                <br>
                <input class="apiInput" v-model="req.password" placeholder="Enter Password Here...">
                <br>
                <br>
                <button class="apiInput" @click="P0st()">Update Request</button>
            </div>
        </section>
    </script>
    <!-- Vue can be included as a script tag at the end of the application's HTML. There is no need for a build step at all, if you don't want one. -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


</body>
<!-- Finally, the JavaScript file containing our application logic. -->
<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/tableau.extensions.1.2.0.js"></script>
<script type="text/javascript" src="js/scheduleCONF.js"></script>

</html>